body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: linear-gradient(145deg, #ffffff, #f3f4f6);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2), 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 320px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3), 0 8px 20px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-bottom: 20px;
  color: #333;
  font-size: 28px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  animation: fadeIn 1s ease-in-out;
}

.display {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  background: linear-gradient(45deg, #74ebd5, #acb6e5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: pulse 2s infinite;
}

.controls button {
  width: 130px;
  padding: 12px;
  margin: 8px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.controls button:focus {
  outline: none;
  box-shadow: 0 4px 20px rgba(0, 123, 255, 0.5);
}

.time-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.time-inputs input {
  width: 60px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 18px;
}

.mode-toggle {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.mode-toggle button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #e0e0e0;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.mode-toggle button.active {
  background-color: #007bff;
  color: white;
}

#start-stop {
  background-color: #28a745;
  color: white;
}

#start-stop:hover {
  background-color: #218838;
  transform: translateY(-3px);
}

#reset {
  background-color: #dc3545;
  color: white;
}

#reset:hover {
  background-color: #c82333;
  transform: translateY(-3px);
}

/* Анимации */
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
